[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
doit = "*"
pygame = "*"
build = "*"
coverage = "*"

[dev-packages]
flake8 = "*"
pydocstyle = "*"
sphinx = "*"
sphinx-intl = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
